@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');



body{
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    padding: 20%;
}

#digital-time{
    display: flex;
    background-color: bisque;
    width: 40vw;
    height: 20vh;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    color: rgb(92, 29, 238);
}


/* #digital-clock {
 background-color: #66ffff;
 width: 35%;
 margin: auto;
 justify-content: center;
 align-items: center;
 padding-top: 50px;
 padding-bottom: 50px;
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 64px;
 text-align: center;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */